<a href="https://colab.research.google.com/github/Abigail-Solomon2305/Abigail_Sql_Projects/blob/main/Inventory_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Abigail
# imported and loaded libaries
import pandas as pd
from sqlalchemy import create_engine, text

from google.colab import files
uploaded = files.upload()

Saving Grocery_Inventory_and_Sales_Dataset.csv to Grocery_Inventory_and_Sales_Dataset.csv

In [ ]:

import numpy as py
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 1️⃣ Load dataset
df = pd.read_csv("Grocery_Inventory_and_Sales_Dataset.csv")

In [ ]:

# 2️⃣ Create in-memory SQLite database (use 'sqlite:///my.db' to save to disk)
engine = create_engine('sqlite://', echo=True)

# 3️⃣ Write DataFrame to SQL
df.to_sql('Inventory', con=engine, index=False, if_exists='replace')

2025-10-16 19:54:55,430 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-16 19:54:55,437 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Inventory")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Inventory")

2025-10-16 19:54:55,438 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-10-16 19:54:55,441 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Inventory")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Inventory")

2025-10-16 19:54:55,443 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-10-16 19:54:55,449 INFO sqlalchemy.engine.Engine
CREATE TABLE "Inventory" (
	"Product_ID" TEXT,
	"Product_Name" TEXT,
	"Catagory" TEXT,
	"Supplier_ID" TEXT,
	"Supplier_Name" TEXT,
	"Stock_Quantity" BIGINT,
	"Reorder_Level" BIGINT,
	"Reorder_Quantity" BIGINT,
	"Unit_Price" TEXT,
	"Date_Received" TEXT,
	"Last_Order_Date" TEXT,
	"Expiration_Date" TEXT,
	"Warehouse_Location" TEXT,
	"Sales_Volume" BIGINT,
	"Inventory_Turnover_Rate" BIGINT,
	"Status" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Inventory" (
	"Product_ID" TEXT,
	"Product_Name" TEXT,
	"Catagory" TEXT,
	"Supplier_ID" TEXT,
	"Supplier_Name" TEXT,
	"Stock_Quantity" BIGINT,
	"Reorder_Level" BIGINT,
	"Reorder_Quantity" BIGINT,
	"Unit_Price" TEXT,
	"Date_Received" TEXT,
	"Last_Order_Date" TEXT,
	"Expiration_Date" TEXT,
	"Warehouse_Location" TEXT,
	"Sales_Volume" BIGINT,
	"Inventory_Turnover_Rate" BIGINT,
	"Status" TEXT
)

2025-10-16 19:54:55,451 INFO sqlalchemy.engine.Engine [no key 0.00192s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00192s] ()

2025-10-16 19:54:55,472 INFO sqlalchemy.engine.Engine INSERT INTO "Inventory" ("Product_ID", "Product_Name", "Catagory", "Supplier_ID", "Supplier_Name", "Stock_Quantity", "Reorder_Level", "Reorder_Quantity", "Unit_Price", "Date_Received", "Last_Order_Date", "Expiration_Date", "Warehouse_Location", "Sales_Volume", "Inventory_Turnover_Rate", "Status") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Inventory" ("Product_ID", "Product_Name", "Catagory", "Supplier_ID", "Supplier_Name", "Stock_Quantity", "Reorder_Level", "Reorder_Quantity", "Unit_Price", "Date_Received", "Last_Order_Date", "Expiration_Date", "Warehouse_Location", "Sales_Volume", "Inventory_Turnover_Rate", "Status") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2025-10-16 19:54:55,475 INFO sqlalchemy.engine.Engine [generated in 0.01018s] [('29-205-1132', 'Sushi Rice', 'Grains & Pulses', '38-037-1699', 'Jaxnation', 22, 72, 70, '$4.50 ', '8/16/2024', '6/29/2024', '9/19/2024', '48 Del Sol Trail', 32, 19, 'Discontinued'), ('40-681-9981', 'Arabica Coffee', 'Beverages', '54-470-2479', 'Feedmix', 45, 77, 2, '$20.00 ', '11/1/2024', '5/29/2024', '5/8/2024', '36 3rd Place', 85, 1, 'Discontinued'), ('06-955-3428', 'Black Rice', 'Grains & Pulses', '54-031-2945', 'Vinder', 30, 38, 83, '$6.00 ', '8/3/2024', '6/10/2024', '9/22/2024', '3296 Walton Court', 31, 34, 'Backordered'), ('71-594-6552', 'Long Grain Rice', 'Grains & Pulses', '63-492-7603', 'Brightbean', 12, 59, 62, '$1.50 ', '12/8/2024', '2/19/2025', '4/17/2024', '3 Westerfield Crossing', 95, 99, 'Active'), ('57-437-1828', 'Plum', 'Fruits & Vegetables', '54-226-4308', 'Topicstorm', 37, 30, 74, '$4.00 ', '7/3/2024', '10/11/2024', '10/5/2024', '15068 Scoville Court', 62, 25, 'Backordered'), ('21-120-6238', 'All-Purpose Flour', 'Grains & Pulses', '86-292-4587', 'Dabjam', 55, 33, 14, '$1.75 ', '12/3/2024', '5/26/2024', '9/5/2024', '050 Mcbride Avenue', 34, 62, 'Discontinued'), ('71-516-1996', 'Corn Oil', 'Oils & Fats', '04-391-7610', 'Tagfeed', 96, 52, 16, '$2.50 ', '3/18/2024', '5/7/2024', '6/20/2024', '12 Truax Court', 67, 13, 'Active'), ('39-629-5554', 'Egg (Goose)', 'Dairy', '67-679-4930', 'Muxo', 44, 90, 17, '$2.50 ', '2/3/2025', '4/9/2024', '2/5/2025', '267 International Plaza', 21, 91, 'Discontinued')  ... displaying 10 of 990 total bound parameter sets ...  ('86-692-2312', 'Avocado Oil', 'Oils & Fats', '77-783-4107', 'Dazzlesphere', 30, 48, 52, '$10.00 ', '6/11/2024', '12/7/2024', '4/30/2024', '00616 Manitowish Parkway', 22, 78, 'Active'), ('28-044-4102', 'Papaya', 'Fruits & Vegetables', '93-358-1118', 'Yakijo', 19, 28, 83, '$4.50 ', '11/26/2024', '3/1/2024', '8/27/2024', '309 Burning Wood Center', 91, 73, 'Discontinued')]

INFO:sqlalchemy.engine.Engine:[generated in 0.01018s] [('29-205-1132', 'Sushi Rice', 'Grains & Pulses', '38-037-1699', 'Jaxnation', 22, 72, 70, '$4.50 ', '8/16/2024', '6/29/2024', '9/19/2024', '48 Del Sol Trail', 32, 19, 'Discontinued'), ('40-681-9981', 'Arabica Coffee', 'Beverages', '54-470-2479', 'Feedmix', 45, 77, 2, '$20.00 ', '11/1/2024', '5/29/2024', '5/8/2024', '36 3rd Place', 85, 1, 'Discontinued'), ('06-955-3428', 'Black Rice', 'Grains & Pulses', '54-031-2945', 'Vinder', 30, 38, 83, '$6.00 ', '8/3/2024', '6/10/2024', '9/22/2024', '3296 Walton Court', 31, 34, 'Backordered'), ('71-594-6552', 'Long Grain Rice', 'Grains & Pulses', '63-492-7603', 'Brightbean', 12, 59, 62, '$1.50 ', '12/8/2024', '2/19/2025', '4/17/2024', '3 Westerfield Crossing', 95, 99, 'Active'), ('57-437-1828', 'Plum', 'Fruits & Vegetables', '54-226-4308', 'Topicstorm', 37, 30, 74, '$4.00 ', '7/3/2024', '10/11/2024', '10/5/2024', '15068 Scoville Court', 62, 25, 'Backordered'), ('21-120-6238', 'All-Purpose Flour', 'Grains & Pulses', '86-292-4587', 'Dabjam', 55, 33, 14, '$1.75 ', '12/3/2024', '5/26/2024', '9/5/2024', '050 Mcbride Avenue', 34, 62, 'Discontinued'), ('71-516-1996', 'Corn Oil', 'Oils & Fats', '04-391-7610', 'Tagfeed', 96, 52, 16, '$2.50 ', '3/18/2024', '5/7/2024', '6/20/2024', '12 Truax Court', 67, 13, 'Active'), ('39-629-5554', 'Egg (Goose)', 'Dairy', '67-679-4930', 'Muxo', 44, 90, 17, '$2.50 ', '2/3/2025', '4/9/2024', '2/5/2025', '267 International Plaza', 21, 91, 'Discontinued')  ... displaying 10 of 990 total bound parameter sets ...  ('86-692-2312', 'Avocado Oil', 'Oils & Fats', '77-783-4107', 'Dazzlesphere', 30, 48, 52, '$10.00 ', '6/11/2024', '12/7/2024', '4/30/2024', '00616 Manitowish Parkway', 22, 78, 'Active'), ('28-044-4102', 'Papaya', 'Fruits & Vegetables', '93-358-1118', 'Yakijo', 19, 28, 83, '$4.50 ', '11/26/2024', '3/1/2024', '8/27/2024', '309 Burning Wood Center', 91, 73, 'Discontinued')]

2025-10-16 19:54:55,486 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2025-10-16 19:54:55,487 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-10-16 19:54:55,490 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

990

In [ ]:
# querying the data with panda to find what it is carrying
df.head()

,Product_ID,Product_Name,Catagory,Supplier_ID,Supplier_Name,Stock_Quantity,Reorder_Level,Reorder_Quantity,Unit_Price,Date_Received,Last_Order_Date,Expiration_Date,Warehouse_Location,Sales_Volume,Inventory_Turnover_Rate,Status
0,29-205-1132,Sushi Rice,Grains & Pulses,38-037-1699,Jaxnation,22,72,70,$4.50,8/16/2024,6/29/2024,9/19/2024,48 Del Sol Trail,32,19,Discontinued
1,40-681-9981,Arabica Coffee,Beverages,54-470-2479,Feedmix,45,77,2,$20.00,11/1/2024,5/29/2024,5/8/2024,36 3rd Place,85,1,Discontinued
2,06-955-3428,Black Rice,Grains & Pulses,54-031-2945,Vinder,30,38,83,$6.00,8/3/2024,6/10/2024,9/22/2024,3296 Walton Court,31,34,Backordered
3,71-594-6552,Long Grain Rice,Grains & Pulses,63-492-7603,Brightbean,12,59,62,$1.50,12/8/2024,2/19/2025,4/17/2024,3 Westerfield Crossing,95,99,Active
4,57-437-1828,Plum,Fruits & Vegetables,54-226-4308,Topicstorm,37,30,74,$4.00,7/3/2024,10/11/2024,10/5/2024,15068 Scoville Court,62,25,Backordered

In [ ]:
#querying to understand the structure of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product_ID               990 non-null    object
 1   Product_Name             990 non-null    object
 2   Catagory                 989 non-null    object
 3   Supplier_ID              990 non-null    object
 4   Supplier_Name            990 non-null    object
 5   Stock_Quantity           990 non-null    int64
 6   Reorder_Level            990 non-null    int64
 7   Reorder_Quantity         990 non-null    int64
 8   Unit_Price               990 non-null    object
 9   Date_Received            990 non-null    object
 10  Last_Order_Date          990 non-null    object
 11  Expiration_Date          990 non-null    object
 12  Warehouse_Location       990 non-null    object
 13  Sales_Volume             990 non-null    int64
 14  Inventory_Turnover_Rate  990 non-null    int64
 15  Status                   990 non-null    object
dtypes: int64(5), object(11)
memory usage: 123.9+ KB

In [ ]:
#querying to find out the statistical info
df.describe()

,Stock_Quantity,Reorder_Level,Reorder_Quantity,Sales_Volume,Inventory_Turnover_Rate
count,990.000000,990.000000,990.000000,990.000000,990.000000
mean,55.609091,51.215152,51.913131,58.925253,50.150505
std,26.300775,29.095241,29.521059,23.002318,28.798954
min,10.000000,1.000000,1.000000,20.000000,1.000000
25%,33.000000,25.250000,25.000000,39.000000,25.000000
50%,56.000000,53.000000,54.000000,58.000000,50.000000
75%,79.000000,77.000000,77.000000,78.000000,74.750000
max,100.000000,100.000000,100.000000,100.000000,100.000000

In [ ]:
# 4️⃣testing a SQL query
query = """
SELECT Last_Order_Date
FROM Inventory
LIMIT 2
"""

# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    top_products = pd.DataFrame(result.fetchall(), columns=result.keys())

print(top_products)

2025-10-16 19:57:46,175 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-16 19:57:46,178 INFO sqlalchemy.engine.Engine
SELECT Last_Order_Date
FROM Inventory
LIMIT 2

INFO:sqlalchemy.engine.Engine:
SELECT Last_Order_Date
FROM Inventory
LIMIT 2

2025-10-16 19:57:46,180 INFO sqlalchemy.engine.Engine [generated in 0.00470s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00470s] ()

2025-10-16 19:57:46,187 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

  Last_Order_Date
0       6/29/2024
1       5/29/2024

In [ ]:

# 2️⃣ Create in-memory SQLite database (use 'sqlite:///my.db' to save to disk)
engine = create_engine('sqlite://', echo=True)

# 3️⃣ Write DataFrame to SQL
# this step creates the table afresh and populates the table
df.to_sql('Inventory', con=engine, index=False, if_exists='replace')

2025-10-16 19:57:55,211 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-16 19:57:55,217 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Inventory")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Inventory")

2025-10-16 19:57:55,219 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-10-16 19:57:55,222 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Inventory")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Inventory")

2025-10-16 19:57:55,224 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-10-16 19:57:55,232 INFO sqlalchemy.engine.Engine
CREATE TABLE "Inventory" (
	"Product_ID" TEXT,
	"Product_Name" TEXT,
	"Catagory" TEXT,
	"Supplier_ID" TEXT,
	"Supplier_Name" TEXT,
	"Stock_Quantity" BIGINT,
	"Reorder_Level" BIGINT,
	"Reorder_Quantity" BIGINT,
	"Unit_Price" TEXT,
	"Date_Received" TEXT,
	"Last_Order_Date" TEXT,
	"Expiration_Date" TEXT,
	"Warehouse_Location" TEXT,
	"Sales_Volume" BIGINT,
	"Inventory_Turnover_Rate" BIGINT,
	"Status" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Inventory" (
	"Product_ID" TEXT,
	"Product_Name" TEXT,
	"Catagory" TEXT,
	"Supplier_ID" TEXT,
	"Supplier_Name" TEXT,
	"Stock_Quantity" BIGINT,
	"Reorder_Level" BIGINT,
	"Reorder_Quantity" BIGINT,
	"Unit_Price" TEXT,
	"Date_Received" TEXT,
	"Last_Order_Date" TEXT,
	"Expiration_Date" TEXT,
	"Warehouse_Location" TEXT,
	"Sales_Volume" BIGINT,
	"Inventory_Turnover_Rate" BIGINT,
	"Status" TEXT
)

2025-10-16 19:57:55,234 INFO sqlalchemy.engine.Engine [no key 0.00196s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00196s] ()

2025-10-16 19:57:55,248 INFO sqlalchemy.engine.Engine INSERT INTO "Inventory" ("Product_ID", "Product_Name", "Catagory", "Supplier_ID", "Supplier_Name", "Stock_Quantity", "Reorder_Level", "Reorder_Quantity", "Unit_Price", "Date_Received", "Last_Order_Date", "Expiration_Date", "Warehouse_Location", "Sales_Volume", "Inventory_Turnover_Rate", "Status") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Inventory" ("Product_ID", "Product_Name", "Catagory", "Supplier_ID", "Supplier_Name", "Stock_Quantity", "Reorder_Level", "Reorder_Quantity", "Unit_Price", "Date_Received", "Last_Order_Date", "Expiration_Date", "Warehouse_Location", "Sales_Volume", "Inventory_Turnover_Rate", "Status") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2025-10-16 19:57:55,250 INFO sqlalchemy.engine.Engine [generated in 0.00837s] [('29-205-1132', 'Sushi Rice', 'Grains & Pulses', '38-037-1699', 'Jaxnation', 22, 72, 70, '$4.50 ', '8/16/2024', '6/29/2024', '9/19/2024', '48 Del Sol Trail', 32, 19, 'Discontinued'), ('40-681-9981', 'Arabica Coffee', 'Beverages', '54-470-2479', 'Feedmix', 45, 77, 2, '$20.00 ', '11/1/2024', '5/29/2024', '5/8/2024', '36 3rd Place', 85, 1, 'Discontinued'), ('06-955-3428', 'Black Rice', 'Grains & Pulses', '54-031-2945', 'Vinder', 30, 38, 83, '$6.00 ', '8/3/2024', '6/10/2024', '9/22/2024', '3296 Walton Court', 31, 34, 'Backordered'), ('71-594-6552', 'Long Grain Rice', 'Grains & Pulses', '63-492-7603', 'Brightbean', 12, 59, 62, '$1.50 ', '12/8/2024', '2/19/2025', '4/17/2024', '3 Westerfield Crossing', 95, 99, 'Active'), ('57-437-1828', 'Plum', 'Fruits & Vegetables', '54-226-4308', 'Topicstorm', 37, 30, 74, '$4.00 ', '7/3/2024', '10/11/2024', '10/5/2024', '15068 Scoville Court', 62, 25, 'Backordered'), ('21-120-6238', 'All-Purpose Flour', 'Grains & Pulses', '86-292-4587', 'Dabjam', 55, 33, 14, '$1.75 ', '12/3/2024', '5/26/2024', '9/5/2024', '050 Mcbride Avenue', 34, 62, 'Discontinued'), ('71-516-1996', 'Corn Oil', 'Oils & Fats', '04-391-7610', 'Tagfeed', 96, 52, 16, '$2.50 ', '3/18/2024', '5/7/2024', '6/20/2024', '12 Truax Court', 67, 13, 'Active'), ('39-629-5554', 'Egg (Goose)', 'Dairy', '67-679-4930', 'Muxo', 44, 90, 17, '$2.50 ', '2/3/2025', '4/9/2024', '2/5/2025', '267 International Plaza', 21, 91, 'Discontinued')  ... displaying 10 of 990 total bound parameter sets ...  ('86-692-2312', 'Avocado Oil', 'Oils & Fats', '77-783-4107', 'Dazzlesphere', 30, 48, 52, '$10.00 ', '6/11/2024', '12/7/2024', '4/30/2024', '00616 Manitowish Parkway', 22, 78, 'Active'), ('28-044-4102', 'Papaya', 'Fruits & Vegetables', '93-358-1118', 'Yakijo', 19, 28, 83, '$4.50 ', '11/26/2024', '3/1/2024', '8/27/2024', '309 Burning Wood Center', 91, 73, 'Discontinued')]

INFO:sqlalchemy.engine.Engine:[generated in 0.00837s] [('29-205-1132', 'Sushi Rice', 'Grains & Pulses', '38-037-1699', 'Jaxnation', 22, 72, 70, '$4.50 ', '8/16/2024', '6/29/2024', '9/19/2024', '48 Del Sol Trail', 32, 19, 'Discontinued'), ('40-681-9981', 'Arabica Coffee', 'Beverages', '54-470-2479', 'Feedmix', 45, 77, 2, '$20.00 ', '11/1/2024', '5/29/2024', '5/8/2024', '36 3rd Place', 85, 1, 'Discontinued'), ('06-955-3428', 'Black Rice', 'Grains & Pulses', '54-031-2945', 'Vinder', 30, 38, 83, '$6.00 ', '8/3/2024', '6/10/2024', '9/22/2024', '3296 Walton Court', 31, 34, 'Backordered'), ('71-594-6552', 'Long Grain Rice', 'Grains & Pulses', '63-492-7603', 'Brightbean', 12, 59, 62, '$1.50 ', '12/8/2024', '2/19/2025', '4/17/2024', '3 Westerfield Crossing', 95, 99, 'Active'), ('57-437-1828', 'Plum', 'Fruits & Vegetables', '54-226-4308', 'Topicstorm', 37, 30, 74, '$4.00 ', '7/3/2024', '10/11/2024', '10/5/2024', '15068 Scoville Court', 62, 25, 'Backordered'), ('21-120-6238', 'All-Purpose Flour', 'Grains & Pulses', '86-292-4587', 'Dabjam', 55, 33, 14, '$1.75 ', '12/3/2024', '5/26/2024', '9/5/2024', '050 Mcbride Avenue', 34, 62, 'Discontinued'), ('71-516-1996', 'Corn Oil', 'Oils & Fats', '04-391-7610', 'Tagfeed', 96, 52, 16, '$2.50 ', '3/18/2024', '5/7/2024', '6/20/2024', '12 Truax Court', 67, 13, 'Active'), ('39-629-5554', 'Egg (Goose)', 'Dairy', '67-679-4930', 'Muxo', 44, 90, 17, '$2.50 ', '2/3/2025', '4/9/2024', '2/5/2025', '267 International Plaza', 21, 91, 'Discontinued')  ... displaying 10 of 990 total bound parameter sets ...  ('86-692-2312', 'Avocado Oil', 'Oils & Fats', '77-783-4107', 'Dazzlesphere', 30, 48, 52, '$10.00 ', '6/11/2024', '12/7/2024', '4/30/2024', '00616 Manitowish Parkway', 22, 78, 'Active'), ('28-044-4102', 'Papaya', 'Fruits & Vegetables', '93-358-1118', 'Yakijo', 19, 28, 83, '$4.50 ', '11/26/2024', '3/1/2024', '8/27/2024', '309 Burning Wood Center', 91, 73, 'Discontinued')]

2025-10-16 19:57:55,259 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2025-10-16 19:57:55,260 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-10-16 19:57:55,262 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

990

In [ ]:
# 4️⃣anothere sql Run an SQL query
query = """
SELECT *
FROM Inventory
LIMIT 7
"""

# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    top_products = pd.DataFrame(result.fetchall(), columns=result.keys())

2025-10-16 19:58:29,073 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-16 19:58:29,076 INFO sqlalchemy.engine.Engine
SELECT *
FROM Inventory
LIMIT 7

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM Inventory
LIMIT 7

2025-10-16 19:58:29,079 INFO sqlalchemy.engine.Engine [generated in 0.00613s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00613s] ()

2025-10-16 19:58:29,086 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [ ]:
#Identifying products where stock is below reorder level

query = """
     SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC

    """
# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    top_products = pd.DataFrame(result.fetchall(), columns=result.keys())

print(top_products)

2025-10-16 20:02:04,524 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-16 20:02:04,527 INFO sqlalchemy.engine.Engine
     SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC

INFO:sqlalchemy.engine.Engine:
     SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC

2025-10-16 20:02:04,529 INFO sqlalchemy.engine.Engine [generated in 0.00492s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00492s] ()

2025-10-16 20:02:04,538 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

      Product_ID       Product_Name  Stock_Quantity  Reorder_Level
0    45-634-0679            Haddock              98            100
1    16-354-8122  Digestive Biscuit              97             99
2    03-149-9760      Whipped Cream              92             99
3    90-492-0564        Pomegranate              92             96
4    42-220-9305        White Sugar              91             98
..           ...                ...             ...            ...
450  58-946-5152        Bread Flour              11             77
451  80-020-8041         Black Rice              11             58
452  00-357-2313        Avocado Oil              10             86
453  95-449-1286      Egg (Chicken)              10             17
454  42-495-7698         Sushi Rice              10             11

[455 rows x 4 columns]

In [ ]:
#Created a CTE to find how many products are due for reorder


query = """
WITH ReorderLevel AS
   (
 SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC
   )

SELECT COUNT(*)
FROM ReorderLevel;
    """

# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-16 20:10:21,751 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-16 20:10:21,753 INFO sqlalchemy.engine.Engine
WITH ReorderLevel AS
   (
 SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC
   )

SELECT COUNT(*)
FROM ReorderLevel;

INFO:sqlalchemy.engine.Engine:
WITH ReorderLevel AS
   (
 SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC
   )

SELECT COUNT(*)
FROM ReorderLevel;

2025-10-16 20:10:21,754 INFO sqlalchemy.engine.Engine [cached since 334.5s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 334.5s ago] ()

2025-10-16 20:10:21,760 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

   COUNT(*)
0       455

In [ ]:
#calculating inventory value per product
query = """
 SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value ASC;
  """
# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-16 20:56:25,589 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-16 20:56:25,593 INFO sqlalchemy.engine.Engine
 SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value ASC;

INFO:sqlalchemy.engine.Engine:
 SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value ASC;

2025-10-16 20:56:25,595 INFO sqlalchemy.engine.Engine [generated in 0.00632s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00632s] ()

2025-10-16 20:56:25,602 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

      Product_ID     Product_Name  Stock_Quantity Unit_Price  Inventory_Value
0    29-205-1132       Sushi Rice              22     $4.50                 0
1    40-681-9981   Arabica Coffee              45    $20.00                 0
2    06-955-3428       Black Rice              30     $6.00                 0
3    71-594-6552  Long Grain Rice              12     $1.50                 0
4    57-437-1828             Plum              37     $4.00                 0
..           ...              ...             ...        ...              ...
985  82-977-7752          Spinach              88     $2.50                 0
986  62-393-9939   Cheddar Cheese              60     $9.00                 0
987  31-745-6850          Cabbage              94     $0.90                 0
988  86-692-2312      Avocado Oil              30    $10.00                 0
989  28-044-4102           Papaya              19     $4.50                 0

[990 rows x 5 columns]

In [ ]:

#Inventory valuue per product then breaking the value nto three differnt parts
#to determine what distribution the inventory values follow.
#  Get the average inventory value in each batch
query = """
 WITH Int_Value AS
  (
   SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value DESC
  ),
 Batch AS
    (
        SELECT
        Product_Name,
        Inventory_Value,
        NTILE(3) OVER (ORDER BY Inventory_Value DESC) AS Percetile_Group
        FROM Int_Value
    )
SELECT
  Percetile_Group,
  AVG(Inventory_Value) AS Avg_Inventory_Value
FROM Batch
GROUP BY Percetile_Group
ORDER BY Percetile_Group ASC;
"""

# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-16 20:55:46,030 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-16 20:55:46,032 INFO sqlalchemy.engine.Engine
 WITH Int_Value AS
  (
   SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value DESC
  ),
 Batch AS
    (
        SELECT
        Product_Name,
        Inventory_Value,
        NTILE(3) OVER (ORDER BY Inventory_Value DESC) AS Percetile_Group
        FROM Int_Value
    )
SELECT
  Percetile_Group,
  AVG(Inventory_Value) AS Avg_Inventory_Value
FROM Batch
GROUP BY Percetile_Group
ORDER BY Percetile_Group ASC;

INFO:sqlalchemy.engine.Engine:
 WITH Int_Value AS
  (
   SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value DESC
  ),
 Batch AS
    (
        SELECT
        Product_Name,
        Inventory_Value,
        NTILE(3) OVER (ORDER BY Inventory_Value DESC) AS Percetile_Group
        FROM Int_Value
    )
SELECT
  Percetile_Group,
  AVG(Inventory_Value) AS Avg_Inventory_Value
FROM Batch
GROUP BY Percetile_Group
ORDER BY Percetile_Group ASC;

2025-10-16 20:55:46,034 INFO sqlalchemy.engine.Engine [generated in 0.00416s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00416s] ()

2025-10-16 20:55:46,042 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

   Percetile_Group  Avg_Inventory_Value
0                1                  0.0
1                2                  0.0
2                3                  0.0

In [ ]:
#inventory value retuned zero
#need to convert the data type for one of the columns
query ="""
CREATE VIEW inventory_clean AS
SELECT Product_ID,
       Product_Name,
       CAST(Stock_Quantity AS DECIMAL(10,2)) AS Qty,
       CAST(REPLACE(Unit_Price, '$', '') AS DECIMAL(10,2)) AS Price
FROM inventory

SELECT Qty * Price AS Inventory_Value
FROM inventory_clean
"""
# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-16 21:13:15,075 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-16 21:13:15,077 INFO sqlalchemy.engine.Engine
CREATE VIEW inventory_clean AS
SELECT Product_ID,
       Product_Name,
       CAST(Stock_Quantity AS DECIMAL(10,2)) AS Qty,
       CAST(REPLACE(Unit_Price, '$', '') AS DECIMAL(10,2)) AS Price
FROM inventory

SELECT Qty * Price AS Inventory_Value
FROM inventory_clean

INFO:sqlalchemy.engine.Engine:
CREATE VIEW inventory_clean AS
SELECT Product_ID,
       Product_Name,
       CAST(Stock_Quantity AS DECIMAL(10,2)) AS Qty,
       CAST(REPLACE(Unit_Price, '$', '') AS DECIMAL(10,2)) AS Price
FROM inventory

SELECT Qty * Price AS Inventory_Value
FROM inventory_clean

2025-10-16 21:13:15,079 INFO sqlalchemy.engine.Engine [generated in 0.00332s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00332s] ()

2025-10-16 21:13:15,081 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

OperationalError: (sqlite3.OperationalError) near "SELECT": syntax error
[SQL:
CREATE VIEW inventory_clean AS
SELECT Product_ID,
       Product_Name,
       CAST(Stock_Quantity AS DECIMAL(10,2)) AS Qty,
       CAST(REPLACE(Unit_Price, '$', '') AS DECIMAL(10,2)) AS Price
FROM inventory

SELECT Qty * Price AS Inventory_Value
FROM inventory_clean
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# Show products that will expire in the next 30 days.

SELECT Product_ID, Product_Name, Expiration_Date
FROM inventory
WHERE Expiration_Date BETWEEN CURRENT_DATE AND DATE_ADD(CURRENT_DATE, INTERVAL 30 DAY)
ORDER BY Expiration_Date;

In [ ]:
CAST(Unit_price AS INTEGER).

In [ ]:
Find which suppliers supply the most unique products.

SELECT Supplier_ID, Supplier_Name, COUNT(DISTINCT Product_ID) AS Product_Count
FROM inventory
GROUP BY Supplier_ID, Supplier_Name
ORDER BY Product_Count DESC;

In [ ]:
List products that should be reordered (below reorder level), with suggested reorder quantity.

SELECT Product_ID,
       Product_Name,
       Stock_Quantity,
       Reorder_Level,
       Reorder_Quantity,
       (Reorder_Level - Stock_Quantity + Reorder_Quantity) AS Suggested_Order
FROM inventory
WHERE Stock_Quantity < Reorder_Level
ORDER BY Suggested_Order DESC;

In [ ]:
Rank products by turnover rate.

SELECT Product_ID,
       Product_Name,
       Inventory_Turnover_Rate,
       RANK() OVER (ORDER BY Inventory_Turnover_Rate DESC) AS Turnover_Rank
FROM inventory;

In [ ]:
Rank products by turnover rate.

SELECT Product_ID,
       Product_Name,
       Inventory_Turnover_Rate,
       RANK() OVER (ORDER BY Inventory_Turnover_Rate DESC) AS Turnover_Rank
FROM inventory;

In [ ]:
Count of Active vs Discontinued Products

Inventory status overview.

SELECT Status, COUNT(*) AS Product_Count
FROM inventory
GROUP BY Status;

In [ ]:
Which product categories generate the most sales volume.

SELECT Category, SUM(Sales_Volume) AS Total_Sales
FROM inventory
GROUP BY Category
ORDER BY Total_Sales DESC;

In [ ]:
See how many products are stored at each warehouse location.

SELECT Warehouse_Location, COUNT(Product_ID) AS Product_Count
FROM inventory
GROUP BY Warehouse_Location
ORDER BY Product_Count DESC;

In [ ]:
Combine low stock, high sales volume, and high turnover rate to find products that need urgent attention.

SELECT Product_ID,
       Product_Name,
       Stock_Quantity,
       Sales_Volume,
       Inventory_Turnover_Rate,
       (Reorder_Level - Stock_Quantity) AS Shortfall
FROM inventory
WHERE Stock_Quantity < Reorder_Level
ORDER BY Inventory_Turnover_Rate DESC, Sales_Volume DESC;