<a href="https://colab.research.google.com/github/Abigail-Solomon2305/Abigail_Sql_Projects/blob/main/Inventory_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# INVENTORY ANALYSIS PROJECT

from sqlalchemy import create_engine, text

from google.colab import files
upload = files.upload()

Saving Grocery_Inventory_and_Sales_Dataset.csv to Grocery_Inventory_and_Sales_Dataset (1).csv

In [ ]:
# imported and loaded libaries

import pandas as pd
import numpy as py
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("Grocery_Inventory_and_Sales_Dataset.csv")

#Create in-memory SQLite database (use 'sqlite:///my.db' to save to disk)
engine = create_engine('sqlite://', echo=True)

# 3️⃣ Write DataFrame to SQL
df.to_sql('Inventory', con=engine, index=False, if_exists='replace')

2025-10-25 13:26:51,980 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:51,987 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Inventory")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Inventory")

2025-10-25 13:26:51,989 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-10-25 13:26:51,992 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Inventory")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Inventory")

2025-10-25 13:26:51,998 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-10-25 13:26:52,004 INFO sqlalchemy.engine.Engine
CREATE TABLE "Inventory" (
	"Product_ID" TEXT,
	"Product_Name" TEXT,
	"Catagory" TEXT,
	"Supplier_ID" TEXT,
	"Supplier_Name" TEXT,
	"Stock_Quantity" BIGINT,
	"Reorder_Level" BIGINT,
	"Reorder_Quantity" BIGINT,
	"Unit_Price" TEXT,
	"Date_Received" TEXT,
	"Last_Order_Date" TEXT,
	"Expiration_Date" TEXT,
	"Warehouse_Location" TEXT,
	"Sales_Volume" BIGINT,
	"Inventory_Turnover_Rate" BIGINT,
	"Status" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Inventory" (
	"Product_ID" TEXT,
	"Product_Name" TEXT,
	"Catagory" TEXT,
	"Supplier_ID" TEXT,
	"Supplier_Name" TEXT,
	"Stock_Quantity" BIGINT,
	"Reorder_Level" BIGINT,
	"Reorder_Quantity" BIGINT,
	"Unit_Price" TEXT,
	"Date_Received" TEXT,
	"Last_Order_Date" TEXT,
	"Expiration_Date" TEXT,
	"Warehouse_Location" TEXT,
	"Sales_Volume" BIGINT,
	"Inventory_Turnover_Rate" BIGINT,
	"Status" TEXT
)

2025-10-25 13:26:52,006 INFO sqlalchemy.engine.Engine [no key 0.00180s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00180s] ()

2025-10-25 13:26:52,025 INFO sqlalchemy.engine.Engine INSERT INTO "Inventory" ("Product_ID", "Product_Name", "Catagory", "Supplier_ID", "Supplier_Name", "Stock_Quantity", "Reorder_Level", "Reorder_Quantity", "Unit_Price", "Date_Received", "Last_Order_Date", "Expiration_Date", "Warehouse_Location", "Sales_Volume", "Inventory_Turnover_Rate", "Status") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Inventory" ("Product_ID", "Product_Name", "Catagory", "Supplier_ID", "Supplier_Name", "Stock_Quantity", "Reorder_Level", "Reorder_Quantity", "Unit_Price", "Date_Received", "Last_Order_Date", "Expiration_Date", "Warehouse_Location", "Sales_Volume", "Inventory_Turnover_Rate", "Status") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2025-10-25 13:26:52,028 INFO sqlalchemy.engine.Engine [generated in 0.00973s] [('29-205-1132', 'Sushi Rice', 'Grains & Pulses', '38-037-1699', 'Jaxnation', 22, 72, 70, '$4.50 ', '8/16/2024', '6/29/2024', '9/19/2024', '48 Del Sol Trail', 32, 19, 'Discontinued'), ('40-681-9981', 'Arabica Coffee', 'Beverages', '54-470-2479', 'Feedmix', 45, 77, 2, '$20.00 ', '11/1/2024', '5/29/2024', '5/8/2024', '36 3rd Place', 85, 1, 'Discontinued'), ('06-955-3428', 'Black Rice', 'Grains & Pulses', '54-031-2945', 'Vinder', 30, 38, 83, '$6.00 ', '8/3/2024', '6/10/2024', '9/22/2024', '3296 Walton Court', 31, 34, 'Backordered'), ('71-594-6552', 'Long Grain Rice', 'Grains & Pulses', '63-492-7603', 'Brightbean', 12, 59, 62, '$1.50 ', '12/8/2024', '2/19/2025', '4/17/2024', '3 Westerfield Crossing', 95, 99, 'Active'), ('57-437-1828', 'Plum', 'Fruits & Vegetables', '54-226-4308', 'Topicstorm', 37, 30, 74, '$4.00 ', '7/3/2024', '10/11/2024', '10/5/2024', '15068 Scoville Court', 62, 25, 'Backordered'), ('21-120-6238', 'All-Purpose Flour', 'Grains & Pulses', '86-292-4587', 'Dabjam', 55, 33, 14, '$1.75 ', '12/3/2024', '5/26/2024', '9/5/2024', '050 Mcbride Avenue', 34, 62, 'Discontinued'), ('71-516-1996', 'Corn Oil', 'Oils & Fats', '04-391-7610', 'Tagfeed', 96, 52, 16, '$2.50 ', '3/18/2024', '5/7/2024', '6/20/2024', '12 Truax Court', 67, 13, 'Active'), ('39-629-5554', 'Egg (Goose)', 'Dairy', '67-679-4930', 'Muxo', 44, 90, 17, '$2.50 ', '2/3/2025', '4/9/2024', '2/5/2025', '267 International Plaza', 21, 91, 'Discontinued')  ... displaying 10 of 990 total bound parameter sets ...  ('86-692-2312', 'Avocado Oil', 'Oils & Fats', '77-783-4107', 'Dazzlesphere', 30, 48, 52, '$10.00 ', '6/11/2024', '12/7/2024', '4/30/2024', '00616 Manitowish Parkway', 22, 78, 'Active'), ('28-044-4102', 'Papaya', 'Fruits & Vegetables', '93-358-1118', 'Yakijo', 19, 28, 83, '$4.50 ', '11/26/2024', '3/1/2024', '8/27/2024', '309 Burning Wood Center', 91, 73, 'Discontinued')]

INFO:sqlalchemy.engine.Engine:[generated in 0.00973s] [('29-205-1132', 'Sushi Rice', 'Grains & Pulses', '38-037-1699', 'Jaxnation', 22, 72, 70, '$4.50 ', '8/16/2024', '6/29/2024', '9/19/2024', '48 Del Sol Trail', 32, 19, 'Discontinued'), ('40-681-9981', 'Arabica Coffee', 'Beverages', '54-470-2479', 'Feedmix', 45, 77, 2, '$20.00 ', '11/1/2024', '5/29/2024', '5/8/2024', '36 3rd Place', 85, 1, 'Discontinued'), ('06-955-3428', 'Black Rice', 'Grains & Pulses', '54-031-2945', 'Vinder', 30, 38, 83, '$6.00 ', '8/3/2024', '6/10/2024', '9/22/2024', '3296 Walton Court', 31, 34, 'Backordered'), ('71-594-6552', 'Long Grain Rice', 'Grains & Pulses', '63-492-7603', 'Brightbean', 12, 59, 62, '$1.50 ', '12/8/2024', '2/19/2025', '4/17/2024', '3 Westerfield Crossing', 95, 99, 'Active'), ('57-437-1828', 'Plum', 'Fruits & Vegetables', '54-226-4308', 'Topicstorm', 37, 30, 74, '$4.00 ', '7/3/2024', '10/11/2024', '10/5/2024', '15068 Scoville Court', 62, 25, 'Backordered'), ('21-120-6238', 'All-Purpose Flour', 'Grains & Pulses', '86-292-4587', 'Dabjam', 55, 33, 14, '$1.75 ', '12/3/2024', '5/26/2024', '9/5/2024', '050 Mcbride Avenue', 34, 62, 'Discontinued'), ('71-516-1996', 'Corn Oil', 'Oils & Fats', '04-391-7610', 'Tagfeed', 96, 52, 16, '$2.50 ', '3/18/2024', '5/7/2024', '6/20/2024', '12 Truax Court', 67, 13, 'Active'), ('39-629-5554', 'Egg (Goose)', 'Dairy', '67-679-4930', 'Muxo', 44, 90, 17, '$2.50 ', '2/3/2025', '4/9/2024', '2/5/2025', '267 International Plaza', 21, 91, 'Discontinued')  ... displaying 10 of 990 total bound parameter sets ...  ('86-692-2312', 'Avocado Oil', 'Oils & Fats', '77-783-4107', 'Dazzlesphere', 30, 48, 52, '$10.00 ', '6/11/2024', '12/7/2024', '4/30/2024', '00616 Manitowish Parkway', 22, 78, 'Active'), ('28-044-4102', 'Papaya', 'Fruits & Vegetables', '93-358-1118', 'Yakijo', 19, 28, 83, '$4.50 ', '11/26/2024', '3/1/2024', '8/27/2024', '309 Burning Wood Center', 91, 73, 'Discontinued')]

2025-10-25 13:26:52,037 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2025-10-25 13:26:52,039 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-10-25 13:26:52,040 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

990

In [ ]:
#removed the dollar sign in the price column and
df['Unit_Price'] = df['Unit_Price'].str.replace('$', '')

In [ ]:
# Explicit type conversion
# declared it as float

df['Unit_Price'] = df['Unit_Price'].astype(float)
df['Reorder_Level'] = df['Reorder_Level'].astype(int)
df['Reorder_Quantity'] = df['Reorder_Quantity'].astype(int)
df['Sales_Volume'] = df['Sales_Volume'].astype(int)
df['Stock_Quantity'] = df['Stock_Quantity'].astype(int)
df['Inventory_Turnover_Rate'] = df['Inventory_Turnover_Rate'].astype(int)
df['Expiration_Date'] = pd.to_datetime(df['Expiration_Date'])
df['Last_Order_Date'] = pd.to_datetime(df['Last_Order_Date'])

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product_ID               990 non-null    object
 1   Product_Name             990 non-null    object
 2   Catagory                 989 non-null    object
 3   Supplier_ID              990 non-null    object
 4   Supplier_Name            990 non-null    object
 5   Stock_Quantity           990 non-null    int64
 6   Reorder_Level            990 non-null    int64
 7   Reorder_Quantity         990 non-null    int64
 8   Unit_Price               990 non-null    float64
 9   Date_Received            990 non-null    object
 10  Last_Order_Date          990 non-null    datetime64[ns]
 11  Expiration_Date          990 non-null    datetime64[ns]
 12  Warehouse_Location       990 non-null    object
 13  Sales_Volume             990 non-null    int64
 14  Inventory_Turnover_Rate  990 non-null    int64
 15  Status                   990 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(5), object(8)
memory usage: 123.9+ KB
None

In [ ]:
#querying to understand the structure of the dataset after type conversion
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product_ID               990 non-null    object
 1   Product_Name             990 non-null    object
 2   Catagory                 989 non-null    object
 3   Supplier_ID              990 non-null    object
 4   Supplier_Name            990 non-null    object
 5   Stock_Quantity           990 non-null    int64
 6   Reorder_Level            990 non-null    int64
 7   Reorder_Quantity         990 non-null    int64
 8   Unit_Price               990 non-null    float64
 9   Date_Received            990 non-null    object
 10  Last_Order_Date          990 non-null    datetime64[ns]
 11  Expiration_Date          990 non-null    datetime64[ns]
 12  Warehouse_Location       990 non-null    object
 13  Sales_Volume             990 non-null    int64
 14  Inventory_Turnover_Rate  990 non-null    int64
 15  Status                   990 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(5), object(8)
memory usage: 123.9+ KB

In [ ]:
# querying the data with panda to find what it is carrying
df.head()

,Product_ID,Product_Name,Catagory,Supplier_ID,Supplier_Name,Stock_Quantity,Reorder_Level,Reorder_Quantity,Unit_Price,Date_Received,Last_Order_Date,Expiration_Date,Warehouse_Location,Sales_Volume,Inventory_Turnover_Rate,Status
0,29-205-1132,Sushi Rice,Grains & Pulses,38-037-1699,Jaxnation,22,72,70,4.5,8/16/2024,2024-06-29,2024-09-19,48 Del Sol Trail,32,19,Discontinued
1,40-681-9981,Arabica Coffee,Beverages,54-470-2479,Feedmix,45,77,2,20.0,11/1/2024,2024-05-29,2024-05-08,36 3rd Place,85,1,Discontinued
2,06-955-3428,Black Rice,Grains & Pulses,54-031-2945,Vinder,30,38,83,6.0,8/3/2024,2024-06-10,2024-09-22,3296 Walton Court,31,34,Backordered
3,71-594-6552,Long Grain Rice,Grains & Pulses,63-492-7603,Brightbean,12,59,62,1.5,12/8/2024,2025-02-19,2024-04-17,3 Westerfield Crossing,95,99,Active
4,57-437-1828,Plum,Fruits & Vegetables,54-226-4308,Topicstorm,37,30,74,4.0,7/3/2024,2024-10-11,2024-10-05,15068 Scoville Court,62,25,Backordered

In [ ]:
#querying to find out the statistical info
df.describe()

,Stock_Quantity,Reorder_Level,Reorder_Quantity,Unit_Price,Last_Order_Date,Expiration_Date,Sales_Volume,Inventory_Turnover_Rate
count,990.000000,990.000000,990.000000,990.000000,990,990,990.000000,990.000000
mean,55.609091,51.215152,51.913131,5.924192,2024-08-25 19:20:43.636363520,2024-08-23 06:45:49.090909184,58.925253,50.150505
min,10.000000,1.000000,1.000000,0.200000,2024-02-25 00:00:00,2024-02-25 00:00:00,20.000000,1.000000
25%,33.000000,25.250000,25.000000,2.500000,2024-05-29 00:00:00,2024-05-23 00:00:00,39.000000,25.000000
50%,56.000000,53.000000,54.000000,4.225000,2024-08-20 12:00:00,2024-08-23 12:00:00,58.000000,50.000000
75%,79.000000,77.000000,77.000000,7.000000,2024-11-29 00:00:00,2024-11-23 00:00:00,78.000000,74.750000
max,100.000000,100.000000,100.000000,98.430000,2025-02-24 00:00:00,2025-02-24 00:00:00,100.000000,100.000000
std,26.300775,29.095241,29.521059,6.491280,NaN,NaN,23.002318,28.798954

In [ ]:
# 4️⃣testing a SQL query
query = """
SELECT Last_Order_Date
FROM Inventory
LIMIT 2
"""

# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    top_products = pd.DataFrame(result.fetchall(), columns=result.keys())

print(top_products)

2025-10-25 13:26:52,198 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,202 INFO sqlalchemy.engine.Engine
SELECT Last_Order_Date
FROM Inventory
LIMIT 2

INFO:sqlalchemy.engine.Engine:
SELECT Last_Order_Date
FROM Inventory
LIMIT 2

2025-10-25 13:26:52,205 INFO sqlalchemy.engine.Engine [generated in 0.00701s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00701s] ()

2025-10-25 13:26:52,210 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

  Last_Order_Date
0       6/29/2024
1       5/29/2024

In [ ]:
#Identifying products where stock is below reorder level

query = """
     SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC

    """
# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    top_products = pd.DataFrame(result.fetchall(), columns=result.keys())

print(top_products)

2025-10-25 13:26:52,232 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,234 INFO sqlalchemy.engine.Engine
     SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC

INFO:sqlalchemy.engine.Engine:
     SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC

2025-10-25 13:26:52,238 INFO sqlalchemy.engine.Engine [generated in 0.00576s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00576s] ()

2025-10-25 13:26:52,244 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

      Product_ID       Product_Name  Stock_Quantity  Reorder_Level
0    45-634-0679            Haddock              98            100
1    16-354-8122  Digestive Biscuit              97             99
2    03-149-9760      Whipped Cream              92             99
3    90-492-0564        Pomegranate              92             96
4    42-220-9305        White Sugar              91             98
..           ...                ...             ...            ...
450  58-946-5152        Bread Flour              11             77
451  80-020-8041         Black Rice              11             58
452  00-357-2313        Avocado Oil              10             86
453  95-449-1286      Egg (Chicken)              10             17
454  42-495-7698         Sushi Rice              10             11

[455 rows x 4 columns]

In [ ]:
#Created a CTE to find how many products are due for reorder


query = """
WITH ReorderLevel AS
   (
 SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC
   )

SELECT COUNT(*)
FROM ReorderLevel;
    """

# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:26:52,262 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,265 INFO sqlalchemy.engine.Engine
WITH ReorderLevel AS
   (
 SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC
   )

SELECT COUNT(*)
FROM ReorderLevel;

INFO:sqlalchemy.engine.Engine:
WITH ReorderLevel AS
   (
 SELECT product_ID, Product_Name, Stock_Quantity, Reorder_Level
    FROM inventory
    WHERE stock_quantity < reorder_level
    ORDER BY Stock_Quantity DESC
   )

SELECT COUNT(*)
FROM ReorderLevel;

2025-10-25 13:26:52,267 INFO sqlalchemy.engine.Engine [generated in 0.00540s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00540s] ()

2025-10-25 13:26:52,273 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

   COUNT(*)
0       455

In [ ]:
#calculating inventory value per product
query = """
 SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value ASC;
  """
# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:26:52,296 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,300 INFO sqlalchemy.engine.Engine
 SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value ASC;

INFO:sqlalchemy.engine.Engine:
 SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value ASC;

2025-10-25 13:26:52,303 INFO sqlalchemy.engine.Engine [generated in 0.00675s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00675s] ()

2025-10-25 13:26:52,311 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

      Product_ID     Product_Name  Stock_Quantity Unit_Price  Inventory_Value
0    29-205-1132       Sushi Rice              22     $4.50                 0
1    40-681-9981   Arabica Coffee              45    $20.00                 0
2    06-955-3428       Black Rice              30     $6.00                 0
3    71-594-6552  Long Grain Rice              12     $1.50                 0
4    57-437-1828             Plum              37     $4.00                 0
..           ...              ...             ...        ...              ...
985  82-977-7752          Spinach              88     $2.50                 0
986  62-393-9939   Cheddar Cheese              60     $9.00                 0
987  31-745-6850          Cabbage              94     $0.90                 0
988  86-692-2312      Avocado Oil              30    $10.00                 0
989  28-044-4102           Papaya              19     $4.50                 0

[990 rows x 5 columns]

In [ ]:

#Inventory valuue per product then breaking the value nto three differnt parts
#to determine what distribution the inventory values follow.

#  Get the average inventory value in each batch
query = """
 WITH Int_Value AS
  (
   SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value DESC
  ),
 Batch AS
    (
        SELECT
        Product_Name,
        Inventory_Value,
        NTILE(3) OVER (ORDER BY Inventory_Value DESC) AS Percetile_Group
        FROM Int_Value
    )
SELECT
  Percetile_Group,
  AVG(Inventory_Value) AS Avg_Inventory_Value
FROM Batch
GROUP BY Percetile_Group
ORDER BY Percetile_Group ASC;
"""

# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:26:52,325 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,327 INFO sqlalchemy.engine.Engine
 WITH Int_Value AS
  (
   SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value DESC
  ),
 Batch AS
    (
        SELECT
        Product_Name,
        Inventory_Value,
        NTILE(3) OVER (ORDER BY Inventory_Value DESC) AS Percetile_Group
        FROM Int_Value
    )
SELECT
  Percetile_Group,
  AVG(Inventory_Value) AS Avg_Inventory_Value
FROM Batch
GROUP BY Percetile_Group
ORDER BY Percetile_Group ASC;

INFO:sqlalchemy.engine.Engine:
 WITH Int_Value AS
  (
   SELECT
        Product_ID,
        Product_Name,
        Stock_Quantity,
        Unit_price,
        (Stock_Quantity * Unit_Price) AS Inventory_Value
  FROM Inventory
  ORDER BY Inventory_Value DESC
  ),
 Batch AS
    (
        SELECT
        Product_Name,
        Inventory_Value,
        NTILE(3) OVER (ORDER BY Inventory_Value DESC) AS Percetile_Group
        FROM Int_Value
    )
SELECT
  Percetile_Group,
  AVG(Inventory_Value) AS Avg_Inventory_Value
FROM Batch
GROUP BY Percetile_Group
ORDER BY Percetile_Group ASC;

2025-10-25 13:26:52,330 INFO sqlalchemy.engine.Engine [generated in 0.00485s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00485s] ()

2025-10-25 13:26:52,337 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

   Percetile_Group  Avg_Inventory_Value
0                1                  0.0
1                2                  0.0
2                3                  0.0

In [ ]:
# Showing products that will expire in the next 30 days.

query = """
WITH Expiry_Calc AS (
    SELECT
        Product_ID,
        Product_Name,
        Date_Received,
        Expiration_Date,
        Stock_Quantity,
        Unit_Price * Stock_Quantity AS Inventory_Value,
        julianday(Expiration_Date) - julianday('now') AS Days_To_Expire
    FROM inventory
)

SELECT
    Product_ID,
    Product_Name,
    Date_Received,
    Expiration_Date,
    ROUND(Days_To_Expire) AS Days_Left,
    Inventory_Value
FROM Expiry_Calc
WHERE Days_To_Expire <= 30  -- products expiring in 30 days or less
ORDER BY Days_To_Expire ASC;

"""
# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:26:52,355 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,357 INFO sqlalchemy.engine.Engine
WITH Expiry_Calc AS (
    SELECT
        Product_ID,
        Product_Name,
        Date_Received,
        Expiration_Date,
        Stock_Quantity,
        Unit_Price * Stock_Quantity AS Inventory_Value,
        julianday(Expiration_Date) - julianday('now') AS Days_To_Expire
    FROM inventory
)

SELECT
    Product_ID,
    Product_Name,
    Date_Received,
    Expiration_Date,
    ROUND(Days_To_Expire) AS Days_Left,
    Inventory_Value
FROM Expiry_Calc
WHERE Days_To_Expire <= 30  -- products expiring in 30 days or less
ORDER BY Days_To_Expire ASC;

INFO:sqlalchemy.engine.Engine:
WITH Expiry_Calc AS (
    SELECT
        Product_ID,
        Product_Name,
        Date_Received,
        Expiration_Date,
        Stock_Quantity,
        Unit_Price * Stock_Quantity AS Inventory_Value,
        julianday(Expiration_Date) - julianday('now') AS Days_To_Expire
    FROM inventory
)

SELECT
    Product_ID,
    Product_Name,
    Date_Received,
    Expiration_Date,
    ROUND(Days_To_Expire) AS Days_Left,
    Inventory_Value
FROM Expiry_Calc
WHERE Days_To_Expire <= 30  -- products expiring in 30 days or less
ORDER BY Days_To_Expire ASC;

2025-10-25 13:26:52,358 INFO sqlalchemy.engine.Engine [generated in 0.00383s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00383s] ()

2025-10-25 13:26:52,363 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

Empty DataFrame
Columns: [Product_ID, Product_Name, Date_Received, Expiration_Date, Days_Left, Inventory_Value]
Index: []

In [ ]:
#Counting the number of products with expired date

query = """
WITH Expiry_Calc AS (
    SELECT
        Product_ID,
        Product_Name,
        Unit_Price * Stock_Quantity AS Inventory_Value,
        julianday(Expiration_Date) - julianday('now') AS Days_To_Expire
    FROM inventory
),

Expired AS

(
SELECT
    Product_ID,
    Product_Name,
    Days_To_Expire,
    Inventory_Value,
    CASE
        WHEN Days_To_Expire < 0 THEN 'Expired 🟥'
        WHEN Days_To_Expire BETWEEN 0 AND 30 THEN 'Expiring Soon 🟨'
        ELSE 'Safe 🟩'
    END AS Status
FROM Expiry_Calc
ORDER BY Days_To_Expire ASC
)

SELECT COUNT (DISTINCT Product_ID) FROM Expired
WHERE status = 'Expired 🟥'
;

"""
# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:26:52,373 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,376 INFO sqlalchemy.engine.Engine
WITH Expiry_Calc AS (
    SELECT
        Product_ID,
        Product_Name,
        Unit_Price * Stock_Quantity AS Inventory_Value,
        julianday(Expiration_Date) - julianday('now') AS Days_To_Expire
    FROM inventory
),

Expired AS

(
SELECT
    Product_ID,
    Product_Name,
    Days_To_Expire,
    Inventory_Value,
    CASE
        WHEN Days_To_Expire < 0 THEN 'Expired 🟥'
        WHEN Days_To_Expire BETWEEN 0 AND 30 THEN 'Expiring Soon 🟨'
        ELSE 'Safe 🟩'
    END AS Status
FROM Expiry_Calc
ORDER BY Days_To_Expire ASC
)

SELECT COUNT (DISTINCT Product_ID) FROM Expired
WHERE status = 'Expired 🟥'
;

INFO:sqlalchemy.engine.Engine:
WITH Expiry_Calc AS (
    SELECT
        Product_ID,
        Product_Name,
        Unit_Price * Stock_Quantity AS Inventory_Value,
        julianday(Expiration_Date) - julianday('now') AS Days_To_Expire
    FROM inventory
),

Expired AS

(
SELECT
    Product_ID,
    Product_Name,
    Days_To_Expire,
    Inventory_Value,
    CASE
        WHEN Days_To_Expire < 0 THEN 'Expired 🟥'
        WHEN Days_To_Expire BETWEEN 0 AND 30 THEN 'Expiring Soon 🟨'
        ELSE 'Safe 🟩'
    END AS Status
FROM Expiry_Calc
ORDER BY Days_To_Expire ASC
)

SELECT COUNT (DISTINCT Product_ID) FROM Expired
WHERE status = 'Expired 🟥'
;

2025-10-25 13:26:52,377 INFO sqlalchemy.engine.Engine [generated in 0.00406s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00406s] ()

2025-10-25 13:26:52,381 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

   COUNT (DISTINCT Product_ID)
0                            0

In [ ]:
# showing which suppliers supply the top selling products

query = """
WITH Reorder_Intervals AS (
    SELECT
        Product_Name,
        AVG(julianday(next_date) - julianday(current_date)) AS Avg_Days_Between_Reorders
    FROM (
        SELECT
            Product_Name,
            Date_Received AS current_date,
            LEAD(Date_Received) OVER (PARTITION BY Product_Name ORDER BY Date_Received) AS next_date
        FROM inventory
    )
    WHERE next_date IS NOT NULL
    GROUP BY Product_Name
)
SELECT
    Product_Name,
    ROUND(Avg_Days_Between_Reorders, 1) AS Avg_Days_Between_Reorders
FROM Reorder_Intervals
ORDER BY Avg_Days_Between_Reorders ASC;


"""
# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:26:52,394 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,395 INFO sqlalchemy.engine.Engine
WITH Reorder_Intervals AS (
    SELECT
        Product_Name,
        AVG(julianday(next_date) - julianday(current_date)) AS Avg_Days_Between_Reorders
    FROM (
        SELECT
            Product_Name,
            Date_Received AS current_date,
            LEAD(Date_Received) OVER (PARTITION BY Product_Name ORDER BY Date_Received) AS next_date
        FROM inventory
    )
    WHERE next_date IS NOT NULL
    GROUP BY Product_Name
)
SELECT
    Product_Name,
    ROUND(Avg_Days_Between_Reorders, 1) AS Avg_Days_Between_Reorders
FROM Reorder_Intervals
ORDER BY Avg_Days_Between_Reorders ASC;

INFO:sqlalchemy.engine.Engine:
WITH Reorder_Intervals AS (
    SELECT
        Product_Name,
        AVG(julianday(next_date) - julianday(current_date)) AS Avg_Days_Between_Reorders
    FROM (
        SELECT
            Product_Name,
            Date_Received AS current_date,
            LEAD(Date_Received) OVER (PARTITION BY Product_Name ORDER BY Date_Received) AS next_date
        FROM inventory
    )
    WHERE next_date IS NOT NULL
    GROUP BY Product_Name
)
SELECT
    Product_Name,
    ROUND(Avg_Days_Between_Reorders, 1) AS Avg_Days_Between_Reorders
FROM Reorder_Intervals
ORDER BY Avg_Days_Between_Reorders ASC;

2025-10-25 13:26:52,397 INFO sqlalchemy.engine.Engine [generated in 0.00377s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00377s] ()

2025-10-25 13:26:52,405 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

          Product_Name Avg_Days_Between_Reorders
0    All-Purpose Flour                      None
1         Almond Flour                      None
2            Anchovies                      None
3                Apple                      None
4              Apricot                      None
..                 ...                       ...
116  Whole Wheat Bread                      None
117  Whole Wheat Flour                      None
118          Wild Rice                      None
119             Yogurt                      None
120           Zucchini                      None

[121 rows x 2 columns]

In [ ]:
# Likely products that sells fast and needs replenishment.
#the higher the reorder ratio it shows that it is fast selling

query = """
SELECT
    Product_Name,
    Reorder_Level,
    Reorder_Quantity,
    Stock_Quantity,
    ROUND((CAST(Reorder_Quantity AS REAL) / NULLIF(Reorder_Level, 0)), 2) AS Reorder_Ratio
FROM inventory
ORDER BY Reorder_Ratio DESC
LIMIT 10;
"""
# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:26:52,416 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,418 INFO sqlalchemy.engine.Engine
SELECT
    Product_Name,
    Reorder_Level,
    Reorder_Quantity,
    Stock_Quantity,
    ROUND((CAST(Reorder_Quantity AS REAL) / NULLIF(Reorder_Level, 0)), 2) AS Reorder_Ratio
FROM inventory
ORDER BY Reorder_Ratio DESC
LIMIT 10;

INFO:sqlalchemy.engine.Engine:
SELECT
    Product_Name,
    Reorder_Level,
    Reorder_Quantity,
    Stock_Quantity,
    ROUND((CAST(Reorder_Quantity AS REAL) / NULLIF(Reorder_Level, 0)), 2) AS Reorder_Ratio
FROM inventory
ORDER BY Reorder_Ratio DESC
LIMIT 10;

2025-10-25 13:26:52,419 INFO sqlalchemy.engine.Engine [generated in 0.00292s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00292s] ()

2025-10-25 13:26:52,423 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

        Product_Name  Reorder_Level  Reorder_Quantity  Stock_Quantity  \
0              Lemon              1                98              87
1          Anchovies              1                92              64
2          Mushrooms              1                79              34
3  Mozzarella Cheese              1                65              24
4          Green Tea              1                61              51
5         Sushi Rice              1                60              47
6       Greek Yogurt              2                98              62
7         Buttermilk              1                42              60
8  Digestive Biscuit              2                84              29
9         Egg (Duck)              1                41              77

   Reorder_Ratio
0           98.0
1           92.0
2           79.0
3           65.0
4           61.0
5           60.0
6           49.0
7           42.0
8           42.0
9           41.0

In [ ]:
# showing which suppliers supply the top selling products
# the highest score are top sellers
query = """
SELECT
    Product_Name,
    Supplier_Name,
    Inventory_Turnover_Rate,
    Sales_Volume,
    Stock_Quantity,
    (Inventory_Turnover_Rate * Sales_Volume) AS Performance_Score
FROM inventory
ORDER BY Performance_Score DESC
LIMIT 10;
"""
# Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:26:52,439 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,441 INFO sqlalchemy.engine.Engine
SELECT
    Product_Name,
    Supplier_Name,
    Inventory_Turnover_Rate,
    Sales_Volume,
    Stock_Quantity,
    (Inventory_Turnover_Rate * Sales_Volume) AS Performance_Score
FROM inventory
ORDER BY Performance_Score DESC
LIMIT 10;

INFO:sqlalchemy.engine.Engine:
SELECT
    Product_Name,
    Supplier_Name,
    Inventory_Turnover_Rate,
    Sales_Volume,
    Stock_Quantity,
    (Inventory_Turnover_Rate * Sales_Volume) AS Performance_Score
FROM inventory
ORDER BY Performance_Score DESC
LIMIT 10;

2025-10-25 13:26:52,443 INFO sqlalchemy.engine.Engine [generated in 0.00396s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00396s] ()

2025-10-25 13:26:52,446 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

      Product_Name Supplier_Name  Inventory_Turnover_Rate  Sales_Volume  \
0  Long Grain Rice    Brightbean                       99            95
1     Jasmine Rice     Topicware                       94           100
2             Plum        Yambee                       94            99
3     Sweet Potato         Trupe                       95            97
4        Green Tea         Oyoyo                       99            93
5           Grapes        Skinix                       99            93
6              Cod          Katz                       92            97
7     Sweet Potato    Photospace                       91            98
8        White Tea         Aivee                      100            89
9         Cucumber     Youbridge                      100            89

   Stock_Quantity  Performance_Score
0              12               9405
1              53               9400
2              11               9306
3              49               9215
4              63               9207
5              88               9207
6              96               8924
7             100               8918
8              62               8900
9              38               8900

In [ ]:

#No of unique product supplied by a vendor is equal to 1
query = """
WITH SupplierProductCount AS
(
SELECT
    Supplier_ID,
    Supplier_Name,
    COUNT(DISTINCT Product_ID) AS Product_Count
FROM inventory
GROUP BY Supplier_ID, Supplier_Name
ORDER BY Product_Count DESC
)

SELECT
    Supplier_ID,
    Supplier_Name,
    Product_Count,
    ROW_NUMBER() OVER (ORDER BY Product_Count DESC) AS Rank
FROM SupplierProductCount
WHERE Product_Count =1
ORDER BY Product_Count DESC;
"""
  # Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:26:52,465 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,467 INFO sqlalchemy.engine.Engine
WITH SupplierProductCount AS
(
SELECT
    Supplier_ID,
    Supplier_Name,
    COUNT(DISTINCT Product_ID) AS Product_Count
FROM inventory
GROUP BY Supplier_ID, Supplier_Name
ORDER BY Product_Count DESC
)

SELECT
    Supplier_ID,
    Supplier_Name,
    Product_Count,
    ROW_NUMBER() OVER (ORDER BY Product_Count DESC) AS Rank
FROM SupplierProductCount
WHERE Product_Count =1
ORDER BY Product_Count DESC;

INFO:sqlalchemy.engine.Engine:
WITH SupplierProductCount AS
(
SELECT
    Supplier_ID,
    Supplier_Name,
    COUNT(DISTINCT Product_ID) AS Product_Count
FROM inventory
GROUP BY Supplier_ID, Supplier_Name
ORDER BY Product_Count DESC
)

SELECT
    Supplier_ID,
    Supplier_Name,
    Product_Count,
    ROW_NUMBER() OVER (ORDER BY Product_Count DESC) AS Rank
FROM SupplierProductCount
WHERE Product_Count =1
ORDER BY Product_Count DESC;

2025-10-25 13:26:52,469 INFO sqlalchemy.engine.Engine [generated in 0.00391s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00391s] ()

2025-10-25 13:26:52,596 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

     Supplier_ID Supplier_Name  Product_Count  Rank
0    00-023-7719         Kamba              1     1
1    00-131-9278     Skynoodle              1     2
2    00-258-2525   Thoughtbeat              1     3
3    00-487-2428       Meembee              1     4
4    00-635-4638         Eidel              1     5
..           ...           ...            ...   ...
985  99-553-6838      Skipfire              1   986
986  99-570-8162   Browsedrive              1   987
987  99-680-2351       Innojam              1   988
988  99-784-4391        Voolia              1   989
989  99-864-0256        Rhyloo              1   990

[990 rows x 4 columns]

In [ ]:
#List of products that should be reordered (below reorder level), with suggested reorder quantity.
query = """
SELECT Product_ID,
       Product_Name,
       Stock_Quantity,
       Reorder_Level,
       Reorder_Quantity,
       (Reorder_Level - Stock_Quantity + Reorder_Quantity) AS Suggested_Order
FROM inventory
WHERE Stock_Quantity < Reorder_Level
ORDER BY Suggested_Order DESC;
"""
  # Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:26:52,612 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,616 INFO sqlalchemy.engine.Engine
SELECT Product_ID,
       Product_Name,
       Stock_Quantity,
       Reorder_Level,
       Reorder_Quantity,
       (Reorder_Level - Stock_Quantity + Reorder_Quantity) AS Suggested_Order
FROM inventory
WHERE Stock_Quantity < Reorder_Level
ORDER BY Suggested_Order DESC;

INFO:sqlalchemy.engine.Engine:
SELECT Product_ID,
       Product_Name,
       Stock_Quantity,
       Reorder_Level,
       Reorder_Quantity,
       (Reorder_Level - Stock_Quantity + Reorder_Quantity) AS Suggested_Order
FROM inventory
WHERE Stock_Quantity < Reorder_Level
ORDER BY Suggested_Order DESC;

2025-10-25 13:26:52,617 INFO sqlalchemy.engine.Engine [generated in 0.00549s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00549s] ()

2025-10-25 13:26:52,624 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

      Product_ID       Product_Name  Stock_Quantity  Reorder_Level  \
0    70-149-6756        Heavy Cream              14             99
1    39-913-2999    Evaporated Milk              23             99
2    73-561-2867    Sourdough Bread              12             86
3    67-512-9754       Egg (Turkey)              19            100
4    03-441-4252             Yogurt              12             83
..           ...                ...             ...            ...
450  28-986-8001        Pomegranate              65             69
451  91-426-3204            Haddock              67             71
452  89-673-1543  Digestive Biscuit              72             78
453  58-229-1358              Cream              21             24
454  98-556-5323        Pomegranate              60             61

     Reorder_Quantity  Suggested_Order
0                  97              182
1                  97              173
2                  98              172
3                  83              164
4                  93              164
..                ...              ...
450                 4                8
451                 4                8
452                 1                7
453                 2                5
454                 2                3

[455 rows x 6 columns]

In [ ]:
#Rank products by turnover rate.
query ="""
SELECT Product_ID,
       Product_Name,
       Inventory_Turnover_Rate,
       RANK() OVER (ORDER BY Inventory_Turnover_Rate DESC) AS Turnover_Rank
FROM inventory;
"""
  # Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:26:52,639 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:26:52,642 INFO sqlalchemy.engine.Engine
SELECT Product_ID,
       Product_Name,
       Inventory_Turnover_Rate,
       RANK() OVER (ORDER BY Inventory_Turnover_Rate DESC) AS Turnover_Rank
FROM inventory;

INFO:sqlalchemy.engine.Engine:
SELECT Product_ID,
       Product_Name,
       Inventory_Turnover_Rate,
       RANK() OVER (ORDER BY Inventory_Turnover_Rate DESC) AS Turnover_Rank
FROM inventory;

2025-10-25 13:26:52,643 INFO sqlalchemy.engine.Engine [generated in 0.00433s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00433s] ()

2025-10-25 13:26:52,653 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

      Product_ID       Product_Name  Inventory_Turnover_Rate  Turnover_Rank
0    07-970-9352        Bell Pepper                      100              1
1    70-815-4015     Butter Biscuit                      100              1
2    91-257-3672            Tilapia                      100              1
3    39-768-8205       Egg (Turkey)                      100              1
4    29-823-6004           Zucchini                      100              1
..           ...                ...                      ...            ...
985  04-038-1547          Rye Bread                        1            981
986  07-846-4804       Jasmine Rice                        1            981
987  45-992-5653  Whole Wheat Flour                        1            981
988  49-579-4325     Ricotta Cheese                        1            981
989  14-331-3739        Avocado Oil                        1            981

[990 rows x 4 columns]

In [ ]:
#Rank products by turnover rate.
query ="""
SELECT Product_ID,
       Product_Name,
       Inventory_Turnover_Rate,
       RANK() OVER (ORDER BY Inventory_Turnover_Rate DESC) AS Turnover_Rank
FROM inventory;

"""
  # Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:27:59,772 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:27:59,782 INFO sqlalchemy.engine.Engine
SELECT Product_ID,
       Product_Name,
       Inventory_Turnover_Rate,
       RANK() OVER (ORDER BY Inventory_Turnover_Rate DESC) AS Turnover_Rank
FROM inventory;

INFO:sqlalchemy.engine.Engine:
SELECT Product_ID,
       Product_Name,
       Inventory_Turnover_Rate,
       RANK() OVER (ORDER BY Inventory_Turnover_Rate DESC) AS Turnover_Rank
FROM inventory;

2025-10-25 13:27:59,788 INFO sqlalchemy.engine.Engine [generated in 0.01539s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01539s] ()

2025-10-25 13:27:59,814 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

      Product_ID       Product_Name  Inventory_Turnover_Rate  Turnover_Rank
0    07-970-9352        Bell Pepper                      100              1
1    70-815-4015     Butter Biscuit                      100              1
2    91-257-3672            Tilapia                      100              1
3    39-768-8205       Egg (Turkey)                      100              1
4    29-823-6004           Zucchini                      100              1
..           ...                ...                      ...            ...
985  04-038-1547          Rye Bread                        1            981
986  07-846-4804       Jasmine Rice                        1            981
987  45-992-5653  Whole Wheat Flour                        1            981
988  49-579-4325     Ricotta Cheese                        1            981
989  14-331-3739        Avocado Oil                        1            981

[990 rows x 4 columns]

In [ ]:
#Count of Active vs Discontinued Products

#Inventory status overview.
query ="""

SELECT Status, COUNT(*) AS Product_Count
FROM inventory
GROUP BY Status;
"""
  # Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:28:04,584 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:28:04,587 INFO sqlalchemy.engine.Engine

SELECT Status, COUNT(*) AS Product_Count
FROM inventory
GROUP BY Status;

INFO:sqlalchemy.engine.Engine:

SELECT Status, COUNT(*) AS Product_Count
FROM inventory
GROUP BY Status;

2025-10-25 13:28:04,588 INFO sqlalchemy.engine.Engine [generated in 0.00377s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00377s] ()

2025-10-25 13:28:04,595 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

         Status  Product_Count
0        Active            332
1   Backordered            325
2  Discontinued            333

In [ ]:
#See how many products are stored at each warehouse location.
query ="""
SELECT Warehouse_Location, COUNT(Product_ID) AS Product_Count
FROM inventory
GROUP BY Warehouse_Location
ORDER BY Product_Count DESC;

"""
  # Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:30:41,425 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:30:41,439 INFO sqlalchemy.engine.Engine
SELECT Warehouse_Location, COUNT(Product_ID) AS Product_Count
FROM inventory
GROUP BY Warehouse_Location
ORDER BY Product_Count DESC;

INFO:sqlalchemy.engine.Engine:
SELECT Warehouse_Location, COUNT(Product_ID) AS Product_Count
FROM inventory
GROUP BY Warehouse_Location
ORDER BY Product_Count DESC;

2025-10-25 13:30:41,447 INFO sqlalchemy.engine.Engine [generated in 0.02277s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.02277s] ()

2025-10-25 13:30:41,464 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

       Warehouse_Location  Product_Count
0      996 Thierer Center              1
1     9951 Petterle Alley              1
2    993 Kensington Drive              1
3          992 East Point              1
4     99 Twin Pines Alley              1
..                    ...            ...
985     0 Lerdahl Parkway              1
986        0 Lawn Parkway              1
987       0 Larry Terrace              1
988        0 Fordem Place              1
989    0 Delladonna Place              1

[990 rows x 2 columns]

In [ ]:
#Combine low stock, high sales volume, and high turnover rate to find products that need urgent attention.
query ="""
SELECT Product_ID,
       Product_Name,
       Stock_Quantity,
       Sales_Volume,
       Inventory_Turnover_Rate,
       (Reorder_Level - Stock_Quantity) AS Shortfall
FROM inventory
WHERE Stock_Quantity < Reorder_Level
ORDER BY Inventory_Turnover_Rate DESC, Sales_Volume DESC;

"""
  # Correct 2.x syntax — open a connection
with engine.connect() as conn:
    result = conn.execute(text(query))
    QueryResult = pd.DataFrame(result.fetchall(), columns=result.keys())

print(QueryResult)

2025-10-25 13:30:48,062 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-10-25 13:30:48,077 INFO sqlalchemy.engine.Engine
SELECT Product_ID,
       Product_Name,
       Stock_Quantity,
       Sales_Volume,
       Inventory_Turnover_Rate,
       (Reorder_Level - Stock_Quantity) AS Shortfall
FROM inventory
WHERE Stock_Quantity < Reorder_Level
ORDER BY Inventory_Turnover_Rate DESC, Sales_Volume DESC;

INFO:sqlalchemy.engine.Engine:
SELECT Product_ID,
       Product_Name,
       Stock_Quantity,
       Sales_Volume,
       Inventory_Turnover_Rate,
       (Reorder_Level - Stock_Quantity) AS Shortfall
FROM inventory
WHERE Stock_Quantity < Reorder_Level
ORDER BY Inventory_Turnover_Rate DESC, Sales_Volume DESC;

2025-10-25 13:30:48,088 INFO sqlalchemy.engine.Engine [generated in 0.02624s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.02624s] ()

2025-10-25 13:30:48,134 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

      Product_ID    Product_Name  Stock_Quantity  Sales_Volume  \
0    58-005-5343        Cucumber              38            89
1    39-768-8205    Egg (Turkey)              56            82
2    94-525-6925       Rye Bread              50            70
3    22-266-9291        Sardines              11            69
4    70-815-4015  Butter Biscuit              38            67
..           ...             ...             ...           ...
450  40-681-9981  Arabica Coffee              45            85
451  07-846-4804    Jasmine Rice              20            78
452  49-579-4325  Ricotta Cheese              64            55
453  97-040-3822    Swiss Cheese              50            42
454  97-710-2449       Rye Bread              28            31

     Inventory_Turnover_Rate  Shortfall
0                        100         56
1                        100         41
2                        100          6
3                        100          6
4                        100         55
..                       ...        ...
450                        1         32
451                        1          5
452                        1         31
453                        1         49
454                        1         66

[455 rows x 6 columns]

## `**VISUALIZATION**`

In [ ]:
#putting my result to visualization
df.fig()
import seaborn as sns

plt.figure(figsize=(10,6))
sns.barplot(x='Supplier_Name', y='Product_Count', data=result_df, palette='viridis')
plt.title('Number of Products per Supplier')
plt.xticks(rotation=45, ha='right')
plt.show()